<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>1-1</key>
		<integer>4</integer>
	</dict>
	<key>1</key>
	<dict>
		<key>1-2</key>
		<integer>8</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>1-3</key>
		<integer>4</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>1-1</key>
		<integer>2</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>1-3</key>
		<integer>2</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>1-4</key>
		<integer>4</integer>
	</dict>
	<key>6</key>
	<dict>
		<key>1-5</key>
		<integer>4</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>1-1</key>
		<integer>2</integer>
	</dict>
	<key>8</key>
	<dict>
		<key>1-2</key>
		<integer>6</integer>
	</dict>
	<key>9</key>
	<dict>
		<key>1-3</key>
		<integer>4</integer>
	</dict>
	<key>10</key>
	<dict>
		<key>1-1</key>
		<integer>2</integer>
	</dict>
	<key>11</key>
	<dict>
		<key>1-4</key>
		<integer>2</integer>
	</dict>
	<key>12</key>
	<dict>
		<key>1-2</key>
		<integer>4</integer>
	</dict>
	<key>13</key>
	<dict>
		<key>1-5</key>
		<integer>4</integer>
	</dict>
	<key>14</key>
	<dict>
		<key>1-3</key>
		<integer>4</integer>
	</dict>
	<key>15</key>
	<dict>
		<key>1-1</key>
		<integer>2</integer>
	</dict>
	<key>16</key>
	<dict>
		<key>1-2</key>
		<integer>2</integer>
	</dict>
	<key>17</key>
	<dict>
		<key>1-4</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
