<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a1-1</key>
	<integer>1</integer>
	<key>b1-2</key>
	<integer>1</integer>
	<key>c1-3</key>
	<integer>1</integer>
	<key>d1-4</key>
	<integer>1</integer>
	<key>e1-5</key>
	<integer>1</integer>
	<key>f1-6</key>
	<integer>1</integer>
</dict>
</plist>
